<section class="container UserSection">
  <h2>設定</h2>

  <div class="UserContainer">
    <ul class="SideNavigation">
      <li class="SideNavigation__item ">
#        <a href="/users/account">アカウント</a>
         アカウント
      </li>

      <li class="SideNavigation__item active">
#        <a href="/users/profile">プロフィール</a>
         プロフィール
      </li>
    </ul>

    <div class="AccountInformation">
      <ul class="TabNavigation">
        <li class="TabNavigation__item ">
#          <a href="/users/account">アカウント</a>
           アカウントリンク
        </li>

         <li class="TabNavigation__item active">
#          <a href="/users/profile">プロフィール</a>
           プロフィールリンク
        </li>
      </ul>

      <div class="AccountInformation__header">
        <h3>プロフィール</h3>


        <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

        <%= render "devise/shared/error_messages", resource: @user %>

        <div class="field">
            <%= f.label :image_user, "アイコン画像" %><br />
            <%= f.text_field :image_user, autofocus: true %>
        </div>

          <div class="field">
            <%= f.label :name, "ユーザー名" %><br />
            <%= f.text_field :name, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :self_introduction, "自己紹介"%><br />
            <%= f.text_area :self_introduction, autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "保存" %>
          </div>
        <% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", user_registration_path, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>


