<%= form_with model: @reservation, url: edit_confirm_reservation _url(@reservation ), local: true do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <%= f.submit "予約する" %>
  <% end %>
  

<div class="FormWrapper">
  <section class="FormContainer">
    <h2>再予約する</h2>

    <div class="ReservationDetails">
      <img class="ReservationDetails__image" src="/assets/room/default-image-4e0ac6b8d01335b5b22fe6586af13644ae51dddb6aeabf35b9174e80f13cd09d.png">

      <div class="ReservationDetails__title">
        <span class="ReservationDetails__room-name">
          <%= room.name %>
        </span>

        <span class="ReservationDetails__room-price">
          <%= "¥#{room.price}" %>
        </span>
      </div>

      <span class="ReservationDetails__room-address">
        <%= room.address %>
      </span>

      <span class="Room__stars">
        <img alt="スターアイコン" src="/assets/room/star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg">
        <img alt="スターアイコン" src="/assets/room/star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg">
        <img alt="スターアイコン" src="/assets/room/star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg">
        <img alt="スターアイコン" src="/assets/room/star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg">
        <img alt="スターアイコン" src="/assets/room/star-1544f5d9e9846039b88b7afca69bdd007b6a36405fbbbfaf4e1faba106f5a0b4.svg">
      </span>

      <p class="ReservationDetails__room-content">
        <%= room.content %>
      </p>
    </div>

    <%= form_with model: @reservation, url: edit_confirm_reservation _url(@reservation ), local: true do |f| %>
    <form class="Form ReservationsForm" action="/reservations/confirm" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="Wdz6XPFPXhUQKDN6ZXUODsSQFhXFzQWm+M1s9rhg3CeuORnJImvUi4jL7ojUlIY+jDCWxJQ3I/e+jw5HTqn4sA==">
      <input type="hidden" name="reservation[id]" id="reservation_id" value="271">
      <input type="hidden" name="reservation[room_id]" id="reservation_room_id" value="10">

      <div class="ReservationsForm__input-group">
        <%= f.label :start_date %>
        <%= f.text_field :start_date %>
          <label class="form-label ReservationsForm__label Form__label--required" for="reservation_start_date">チェックイン</label>

          <input value="2023/04/28" class="form-control js-picker" placeholder="---- / -- / --" type="text" name="reservation[start_date]" id="reservation_start_date" data-dtp="dtp_OYcat">
        
      </div>

      <div class="ReservationsForm__input-group">
        <%= f.label :end_date %>
        <%= f.text_field :end_date %>  
          <label class="form-label ReservationsForm__label Form__label--required" for="reservation_end_date">チェックアウト</label>

          <input value="2023/04/29" class="form-control js-picker" placeholder="---- / -- / --" type="text" name="reservation[end_date]" id="reservation_end_date" data-dtp="dtp_KXCmm">
        
      </div>

      <div class="ReservationsForm__input-group ReservationsForm__input-group--person-count">
        <%= f.label :person_num %>
        <%= f.text_field :person_num %>


          <label class="form-label ReservationsForm__label Form__label--required" for="reservation_person_num">人数</label>

          <input class="form-control ReservationsForm__input ReservationsForm__input--person-count" placeholder="0" type="number" value="1" name="reservation[person_num]" id="reservation_person_num">
        
          <span>人</span>
      </div>
      <%= f.submit "予約する" %>
      
      <input type="submit" name="commit" value="再予約する" class="btn ReservationsForm__button ReservationsForm__button--submit" data-disable-with="再予約する">
    </form>
    <% end %>
    <a class="btn ReservationsForm__button ReservationsForm__button--cancel" href="https://rails-02-sample.herokuapp.com/reservations">キャンセル</a>
  </section>
</div>