<div class="FormWrapper">
  <section class="FormContainer">
    <h2>予約内容の確認</h2>
    <%=form_with model: @reservation do |form| %>
    <form class="Form ReservationConfirm" action="/reservations" accept-charset="UTF-8" method="post"><input type="hidden" name="authenticity_token" value="nXre5zb0ZEiDUOq2zw19ztYbIlo3PJOhJgUPra4wR2G+psEa6honW31MKc7YJd762imw+yvxXUqsOq4MRIcvrQ==">
      <input type="hidden" value="275" name="reservation[room_id]" id="reservation_room_id">
      <input type="hidden" value="159" name="reservation[user_id]" id="reservation_user_id">
      <input type="hidden" value="2023/05/18" name="reservation[start_date]" id="reservation_start_date">
      <input type="hidden" value="2023/05/19" name="reservation[end_date]" id="reservation_end_date">
      <input type="hidden" value="1" name="reservation[person_num]" id="reservation_person_num">
      <%= form.hidden_field :room_id, value:params[:room_id], class:'ReservationConfirm__value' %>
      <%= form.hidden_field :user_id, , value:@current_user.id, class:'ReservationConfirm__value' %>●ログインしている変数の書き方
      
      <div class="ReservationConfirm__value-group">
        <%= form.label :start_date ,"チェックイン", class:'ReservationConfirm__label' %>
        <%= form.hidden_field :start_date, value:@reservation.start_date, class:'ReservationConfirm__value' %>
        <p class="ReservationConfirm__label">チェックイン</p>
        <p class="ReservationConfirm__value"><%= @reservation.start_date %></p>
      </div>

      <div class="ReservationConfirm__value-group">
        <%= form.label :end_date ,"チェックアウト", class:'ReservationConfirm__label' %>
        <%= form.hidden_field :end_date, value:@reservation.end_date, class:'ReservationConfirm__value' %>
        <p class="ReservationConfirm__label">チェックアウト</p>
        <p class="ReservationConfirm__value"><%= @reservation.end_date %></p>
      </div>

      <div class="ReservationConfirm__value-group">
        <%= form.label :days ,"日数", class:'ReservationConfirm__label' %>●日数のカラムいる？取り合えず
        <%= form.hidden_field :days, value: @days, class:'ReservationConfirm__value' %>
        <p class="ReservationConfirm__label">日数</p>
        <p class="ReservationConfirm__value"><%= "#{@days}日" %></p>
      </div>

      <div class="ReservationConfirm__value-group">
        <%= form.label :person_num ,"人数", class:'ReservationConfirm__label' %>●カラム名なにというか、これで送れる？valueのところ...多分これでいい
        <%= form.hidden_field :person_num, value:@reservation.person_num}, class:'ReservationConfirm__value' %>
        <p class="ReservationConfirm__label">人数</p>
        <p class="ReservationConfirm__value"><%= "#{@reservation.person_num}人" %></p>
      </div>

      <div class="ReservationConfirm__value-group">
        <%= form.label :total_price ,"お支払い金額", class:'ReservationConfirm__label' %>●カラム名なにというか、これで送れる？alueのところ...多分これでいい
        <%= form.hidden_field :total_price, value:@total_price, class:'ReservationConfirm__value' %>
        <p class="ReservationConfirm__label">お支払い金額</p>
        <p class="ReservationConfirm__value ReservationConfirm__value--price"><%= "¥#{@total_price}" %></p>
      </div>

      <p class="ReservationConfirm__description">
        上記内容で正しければ「確定」ボタンを押してください。
      </p>
      <%= form.submit "予約を確定" %>
<input type="submit" name="commit" value="予約を確定" class="btn ReservationConfirm__button ReservationConfirm__button--submit" data-disable-with="予約を確定">
    </form>
    <% end %>

    <%= link_to("キャンセル", room_path)%>
    <a class="btn ReservationConfirm__button ReservationConfirm__button--cancel" href="/rooms/275">キャンセル</a>
  </section>
</div>