<section class="container OwnRoomsContainer">
  <h2>
    登録済み一覧
  </h2>

  <div class="table-responsive">
    <table class="table align-middle OwnRoomsTable">
      <% @rooms.each do |room| %>
        <thead>
          <tr>
            <th>画像</th>
            <th>施設名</th>
            <th>紹介文</th>
            <th>料金</th>
            <th>作成日</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>
              
            </td>

            <td>
              <%= link_to(room.room_name, room_path(room)) %>
            </td>

            <td>
              <%= room.content %>
            </td>

            <td class="text-nowrap">
              <%= "¥#{room.price}-" %>
            </td>
 
            <td class="text-nowrap">
              <%= room.created_at %>
            </td>

             <td>
             <%= button_to "削除", room_path(room), method: :delete, data: { confirm: "本当に削除しますか？" } %>
             </td>
           </tr>
       </tbody>
      <% end %>
    </table>
  </div>
</section>