<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="AccountFormWrapper">
    <section class="AccountFormContainer">
      <h2 class="AccountFormContainer__title">新規登録</h2>
      <form class="">
    #サインアップ時に名前を入力できるようにフォームを追加
        <div class="field">
          <%= f.label :name, "ユーザー名" %><br />
          <%= f.text_field :name, autofocus: true %>
        </div>

        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "確認用パスワード" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

    
        <div class="field">
          <%= f.hidden_field :image_user, value:"default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png" %>
        </div>

        <div>
          <%= f.hidden_field :self_introduction %>
        <div>

        <div class="actions">
          <%= f.submit "新しいアカウントを作成" %>
        </div>
      </form>
#      ログインページへリンク
      <%= link_to "アカウントをお持ちの方はログイン" %>
  
    </section>
  </div>    
<% end %>
